@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  font-size: 16px;

  --a: #844da3;
  --b: #663b94;
  --c: #431c76;
  --d: #221c69;
  --e: #080942;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: var(--b);
  padding: 15px 20px;
  position: sticky;
  width: 100%;

  p {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.App {
  text-align: center;

  .header {
    padding: 10px;

    h2,
    h2,
    h4 {
      padding: 5px 0;
    }
  }
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  padding: 5vw 10vw;
}

.quiz {
  form {
    input {
      &[type="submit"] {
        width: 100%;
      }
    }
  }
}

.form select,
.form input {
  display: block;
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.question {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;

  p {
    padding-top: 5px;
  }

  .answers {
    padding-top: 5px;
    display: flex;
    flex-direction: column;

    label {
      padding-right: 10px;
      padding: 5px 0;

      input {
        margin-right: 5px;
      }
    }
  }
}

input.button,
.button {
  padding: 12px;
  background-color: var(--b);
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;

  &:hover {
    background-color: var(--c);
  }
}

.question-answer {
  border: 5px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;

  &.correct {
    border-color: green;
  }

  &.incorrect {
    border-color: red;
  }
}

.complete {
  h2 {
    padding: 5px 0;
    margin-bottom: 10px;
  }

  div {
    padding: 10px 0;
  }
}

@media screen and (min-width: 1024px) {
  section {
    padding: 5vw 20vw;
  }
}
